<section ng-repeat="package in packages" class="packages-main">
    <section class="package-card">
        <img ng-src="{{package.image}}" alt="{{package.name}}">
        <h6>{{package.city}}</h6>
        <h1>{{package.country}}</h1>
        <p>{{package.description}}</p>

        <!--You will need to make the ui-sref work. It should point to the booked state. If you look at your app.js the booked state
       is expecting an id to be passed along You can get that id from the data object that we are repeating over -->
        <button ui-sref="booked({id: {{package.id}}})">Book Now</button>
    </section>
</section>


<section ng-repeat="package in packages" class="location-card" >
    <div class="image-container">
        <img ng-src="{{package.image}}" alt="{{package.name}}">
    </div>
    <div class="location-inner-left">
        <h6>{{package.city}}</h6>
        <h1>{{package.country}}</h1>
        <p>{{package.description}}</p>
    </div>
    <div class="location-inner-right">
        <h3>Package Start At ${{package.price}}</h3>
        <!--You will need to make the ui-sref work. It should point to the booked state. If you look at your app.js the booked state
        is expecting an id to be passed along You can get that id from the data object that we are repeating over -->
        <button ui-sref="booked({id: {{package.id}}})">Book Now</button>
  </section>
